.f-icon {
    font-size: 2em;
    color: #ffffff;
    background-color: #1674fd;
}

.icon2 {
    font-size: 1em;
    background-color: #f8f9fa;
}

.lebel {
    background-color: rgba(128, 128, 128, 0.445);
    height: 3em;
}

.apple {
    font-size: 2em;
}